<div class="admin-nav">
  <div class="card mb-3" style="max-width: 800px;">
    <h3 class="card-header">LMS</h3>
    <div class="card-body">
      <h5 class="card-title">Administrator</h5>
    </div>
    <img
      style="height: 200px; width: 100%; display: block;"
      src="../../assets/home-logos/engineer.svg"
      alt="Card image"
    />
    <div class="card-body">
      <h6 style="text-align: center;">
        What would you like to do?
      </h6>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item">
        <a routerLink="/lms/admin/author"
          ><h4 class="card-title">Create/Read/Update/Delete Authors</h4></a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/lms/admin/book"
          ><h4 class="card-title">Create/Read/Update/Delete Books</h4></a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/lms/admin/borrower"
          ><h4 class="card-title">Create/Read/Update/Delete Borrowers</h4></a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/lms/admin/branch"
          ><h4 class="card-title">Create/Read/Update/Delete Branches</h4></a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/lms/admin/genre"
          ><h4 class="card-title">Create/Read/Update/Delete Genres</h4></a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/lms/admin/publisher"
          ><h4 class="card-title">Create/Read/Update/Delete Publishers</h4></a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/lms/admin/override"
          ><h4 class="card-title">Override Loan Due Dates</h4></a
        >
      </li>
    </ul>
  </div>
</div>
