<div class="admin-nav">
  <div class="card mb-3" style="max-width: 800px;">
    <h3 class="card-header">LMS</h3>
    <div class="card-body">
      <h5 class="card-title">Administrator</h5>
    </div>
    <img
      style="height: 200px; width: 100%; display: block;"
      src="../../assets/home-logos/engineer.svg"
      alt="Card image"
    />
    <div class="card-body">
      <h6 style="text-align: center;">
        Select which data entity you would like to edit.
      </h6>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a routerLink="/lms/admin/author"><h4 class="card-title">Author</h4></a>
      </li>
      <li class="list-group-item">
        <a routerLink="/lms/admin/book"><h4 class="card-title">Book</h4></a>
      </li>
      <li class="list-group-item">
        <a routerLink="/lms/admin/borrower"
          ><h4 class="card-title">Borrower</h4></a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/lms/admin/branch"><h4 class="card-title">Branch</h4></a>
      </li>
      <li class="list-group-item">
        <a routerLink="/lms/admin/genre"><h4 class="card-title">Genre</h4></a>
      </li>
      <li class="list-group-item">
        <a routerLink="/lms/admin/override"
          ><h4 class="card-title">Override Loan</h4></a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/lms/admin/publisher"
          ><h4 class="card-title">Publisher</h4></a
        >
      </li>
    </ul>
  </div>
</div>

<div class="admin-nav">
  <div class="card mb-3" style="max-width: 800px;">
    <h3 class="card-header">LMS</h3>
    <div class="card-body">
      <h5 class="card-title">Administrator</h5>
    </div>
    <img
      style="height: 200px; width: 100%; display: block;"
      src="../../assets/home-logos/engineer.svg"
      alt="Card image"
    />
    <div class="card-body">
      <h6 style="text-align: center;">
        Select which data entity you would like to edit.
      </h6>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a routerLink="/lms/admin/author"><h4 class="card-title">Author</h4></a>
      </li>
      <li class="list-group-item">
        <a routerLink="/lms/admin/book"><h4 class="card-title">Book</h4></a>
      </li>
      <li class="list-group-item">
        <a routerLink="/lms/admin/borrower"
          ><h4 class="card-title">Borrower</h4></a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/lms/admin/branch"><h4 class="card-title">Branch</h4></a>
      </li>
      <li class="list-group-item">
        <a routerLink="/lms/admin/genre"><h4 class="card-title">Genre</h4></a>
      </li>
      <li class="list-group-item">
        <a routerLink="/lms/admin/override"
          ><h4 class="card-title">Override Loan</h4></a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/lms/admin/publisher"
          ><h4 class="card-title">Publisher</h4></a
        >
      </li>
    </ul>
  </div>
</div>
