<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/lms/home">LMS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            routerLink="/lms/admin"
            role="button"
            aria-haspopup="true"
            aria-expanded="true"
            >Administrator</a
          >
          <div
            class="dropdown-menu"
            x-placement="bottom-start"
            style="
              position: absolute;
              transform: translate3d(0px, 37px, 0px);
              top: 0px;
              left: 0px;
              will-change: transform;
            "
          >
            <a class="dropdown-item" routerLink="/lms/admin/author">Authors</a>
            <a class="dropdown-item" routerLink="/lms/admin/book">Books</a>
            <a class="dropdown-item" routerLink="/lms/admin/borrower"
              >Borrowers</a
            >
            <a class="dropdown-item" routerLink="/lms/admin/branch">Branchs</a>
            <a class="dropdown-item" routerLink="/lms/admin/genre">Genres</a>
            <a class="dropdown-item" routerLink="/lms/admin/publisher"
              >Publishers</a
            ><a class="dropdown-item" routerLink="/lms/admin/override"
              >Due Dates</a
            >
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lms/borrower">Borrower</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lms/librarian">Librarian</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
