.genre-table {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.genre-table .table th,
.genre-table .table td {
  padding: 0.8rem;
}

.genre-title {
  text-align: center;
}

.create-button {
  text-align: center;
  margin: 10px;
}
