<!-- <button type="button" (click)="openWriteModal('Create', writeGenreModal)">
  Create
</button> -->

<div class="genre-header">
  <h1 class="genre-title">Genres</h1>
  <div class="create-button">
    <button type="button" class="btn btn-success">
      Create New Genre
    </button>
  </div>
</div>

<div class="genre-table">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Genre</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let genre of genres
            | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
        "
      >
        <td scope="row">{{ genre.genre_name }}</td>
        <td>
          <button type="button" class="btn btn-info btn-sm">
            Update
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="deleteGenre(genre.genre_id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination
    [collectionSize]="genres.length"
    [(page)]="page"
    aria-label="Default pagination"
  >
  </ngb-pagination>
</div>

<ng-template #writeGenreModal let-close="close">
  <form [formGroup]="writeGenreModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5>{{ operation }} Publisher</h5>
          <button type="button" (click)="close()">
            <span>&#215;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            Name:
            <input class="form-control" formControlName="publisherName" />
            <div
              *ngIf="
                errorsDirty('publisherName') &&
                writePublisherForm.controls.publisherName.errors.required
              "
            >
              Required
            </div>
            <div
              *ngIf="
                errorsDirty('publisherName') &&
                writePublisherForm.controls.publisherName.errors.maxlength
              "
            >
              Maximum length is {{ maxLength }} characters
            </div>
            Address:
            <input class="form-control" formControlName="publisherAddress" />
            <div
              *ngIf="
                errorsDirty('publisherAddress') &&
                writePublisherForm.controls.publisherAddress.errors.maxlength
              "
            >
              Maximum length is {{ maxLength }} characters
            </div>
            Phone:
            <input class="form-control" formControlName="publisherPhone" />
            <div
              *ngIf="
                errorsDirty('publisherPhone') &&
                writePublisherForm.controls.publisherPhone.errors.maxlength
              "
            >
              Maximum length is {{ maxLength }} characters
            </div>
            Books:
            <ng-multiselect-dropdown
              formControlName="books"
              [data]="books"
              [settings]="bookDropdownSettings"
            ></ng-multiselect-dropdown>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            (click)="writePublisher(operation); close()"
            [disabled]="writePublisherForm.invalid"
          >
            {{ operation }}
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
