<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Branch</th>
      <th scope="col">Address</th>
      <th scope="col">edit</th>
      <th scope="col">books</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of branches; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ b.branchName }}</td>
      <td>{{ b.branchAddress }}</td>
      <td>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="open(updateBranchModal, b)"
        >
          Edit
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="open(updateBranchModal, b)"
        >
          Add Books
        </button>
      </td>
    </tr>
  </tbody>
</table>