<div class="lms-header">
  <h1 class="lms-title">Books</h1>
  <div class="create-button">
    <button
      type="button"
      class="btn btn-success"
      (click)="openWriteModal('Create', writeBookModal)"
    >
      Create New Book
    </button>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <th>Title</th>
    <th>Authors</th>
    <th>Genres</th>
    <th>Publisher</th>
    <th>Update</th>
    <th>Delete</th>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let b of books
          | slice: (currentPage - 1) * rowsPerPage:currentPage * rowsPerPage
      "
    >
      <td>{{ b.title }}</td>
      <td>
        {{
          b.authorIds
            | getProperty
              : "authorId"
              : "authorName"
              : authors
              : "(author not found)"
              : "(author name not found)"
            | niceSpacing
        }}
      </td>
      <td>
        {{
          b.genreIds
            | getProperty
              : "genre_id"
              : "genre_name"
              : genres
              : "(genre not found)"
              : "(genre name not found)"
            | niceSpacing
        }}
      </td>
      <td>
        {{
          (b.pubId ? [b.pubId] : [])
            | getProperty
              : "publisherId"
              : "publisherName"
              : publishers
              : "(publisher not found)"
              : "(publisher name not found)"
        }}
      </td>
      <td>
        <button
          type="button"
          class="btn btn-info btn-sm"
          (click)="openWriteModal('Update', writeBookModal, b)"
        >
          Update
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          (click)="deleteBook(b.bookId)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #writeBookModal let-close="close">
  <form [formGroup]="writeBookForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5>{{ operation }} Book</h5>
          <button type="button" (click)="close()"><span>&#215;</span></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            Title:
            <input class="form-control" formControlName="title" />
            <div
              *ngIf="
                errorsDirty('title') &&
                writeBookForm.controls.title.errors.required
              "
            >
              Required
            </div>
            <div
              *ngIf="
                errorsDirty('title') &&
                writeBookForm.controls.title.errors.maxlength
              "
            >
              Maximum length is {{ maxLength }} characters
            </div>
            Publisher:
            <ng-multiselect-dropdown
              formControlName="publisher"
              [data]="publishers"
              [settings]="publisherDropdownSettings"
            ></ng-multiselect-dropdown>
            Authors:
            <ng-multiselect-dropdown
              formControlName="authors"
              [data]="authors"
              [settings]="authorDropdownSettings"
            ></ng-multiselect-dropdown>
            Genres:
            <ng-multiselect-dropdown
              formControlName="genres"
              [data]="genres"
              [settings]="genreDropdownSettings"
            ></ng-multiselect-dropdown>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              (click)="writeBook(operation); close()"
              [disabled]="writeBookForm.invalid"
            >
              {{ operation }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<ngb-pagination [collectionSize]="books.length" [(page)]="currentPage">
</ngb-pagination>
