<button type="button">Create new entry</button>
<table>
  <thead>
    <th>Name</th>
    <th>Address</th>
    <th>Phone number</th>
    <th>Books</th>
    <th>Update</th>
    <th>Delete</th>
  </thead>
  <tbody>
    <tr *ngFor="let p of publishers">
      <td>{{ p.publisherName }}</td>
      <td>{{ p.publisherAddress }}</td>
      <td>{{ p.publisherPhone }}</td>
      <td>
        {{
          p.bookIds
            | getProperty
              : "bookId"
              : "title"
              : books
              : "(book not found)"
              : "(book title not found)"
        }}
      </td>
    </tr>
  </tbody>
</table>

<ng-template #writePublisherModal let-close="close" let-dismiss="dismiss">
  <form [formGroup]="writePublisherForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5>{{ writePublisherHeader }}</h5>
          <button type="button" (click)="close()">
            <span>&#215;</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
