html,
body {
  height: 100%;
  margin: 0;
}
.content {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -100px;
}

.push {
  height: 100px;
}

.navbar-nav li:hover > .dropdown-menu {
  display: block;
}

.lms-table {
  /* max-width: 800px; */
  margin-left: auto;
  margin-right: auto;
}

.lms-table .table th,
.lms-table .table td {
  padding: 0.8rem;
}

.lms-title {
  text-align: center;
}

.create-button {
  text-align: center;
  margin: 10px;
}
