html,
body {
  height: 100%;
  margin: 0;
}
.content {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -100px;
}

.push {
  height: 100px;
}

.navbar-nav li:hover > .dropdown-menu {
  display: block;
}
