<div class="jumbotron">
  <h1 class="display-3">Library Management System</h1>
  <p class="lead">
    We created this Library Management System to sharpen and enhance our web
    development skills as part of the Smoothstack training.
  </p>
</div>

<div class="nav-cards">
  <div class="admin">
    <div class="card border-primary mb-3" style="max-width: 25rem;">
      <div class="card-header">LMS</div>
      <div class="card-body">
        <a href="#"><h4 class="card-title">Admin</h4></a>
        <p class="card-text">
          The admin has access to perform CRUD operations on all of our data
          entities and override loans for borrowers.
        </p>
      </div>
    </div>
  </div>

  <div class="borrower">
    <div class="card border-primary mb-3" style="max-width: 25rem;">
      <div class="card-header">LMS</div>
      <div class="card-body">
        <a href="#"><h4 class="card-title">Borrower</h4></a>
        <p class="card-text">
          The borrower is able to look through available books and check them
          out. He can also see his current loans and return books.
        </p>
      </div>
    </div>
  </div>

  <div class="librarian">
    <div class="card border-primary mb-3" style="max-width: 25rem;">
      <div class="card-header">LMS</div>
      <div class="card-body">
        <a href="#"><h4 class="card-title">Librarian</h4></a>

        <p class="card-text">
          The librarian can edit the number of books at a branch and update the
          details of their branch such as the name, address, and phone number.
        </p>
      </div>
    </div>
  </div>
</div>
